<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = "display: flex; flex-direction:column; justify-content:center; align-items: center;">

           <h2>Welcome to our users / posts platform</h2>
           
           <div style = "display:flex; margin-top: 120px;  flex-direction:
                 column; justify-content: center; width: 40%; ">
                  <p>Log in as an admin to access all users and posts to manage , Tishana is the admin <br>
                    admin email: <span>tishanaTrainor@gmail.com</span> password : <span>tishana</span> </p>
                 <div style="display:flex; flex-direction: column; 
                    justify-content: start;align-items:center;gap:25px;background-color: rgb(201, 132, 43);border-radius:15px;">
                     
                    <% if (action == "login") { %>
                    <form action="http://localhost:8080/api/users/login" method="post"
                     style="display:flex; flex-direction: column; 
                     justify-content: start;align-items:center;gap:25px;background-color: rgb(201, 132, 43);border-radius:15px;">
                     <h3> Log In </h3>
                     <input type="email" name="email" placeholder="email" value="samcoeur2013@gmail.com" />
                     <input type="password" name="password" placeholder="password" 
                     value="samir"/>
                     <button type="submit"> LOGIN</button> 
                     <p style="color:white">don't have account yet , register below</p>
                     <a style="margin-bottom:30px;color: rgb(9, 105, 208);" href="http://localhost:8080/api/register">REGISTER</a> 
                     </form> 
                    <% } %>
                    <% if (action == "register") { %> 
                    <form action="http://localhost:8080/api/users/" 
                     method="post"
                     style="display:flex; flex-direction: column; 
                     justify-content: start;align-items:center;gap:25px;background-color: rgb(201, 132, 43);border-radius:15px;">
                        
                        <h3> Register </h3>
                        <input type="text" name="name" placeholder="fullname" 
                        value= "<%= placeHolders.name %>" required/>
                        <input type="text" name="username" placeholder="username" 
                        value= "<%= placeHolders.username %>" required/>
                        <input type="email" name="email"  placeholder="email" required 
                        value= "<%= placeHolders.email %>" >
                        <input type="password" name="password" placeholder="password" required />
                        <input type="password" name="confirmpassword" placeholder="confirm password" required />
                        <button style="background-color: rgb(6, 200, 61);" type="submit"> Register</button> 
                        <p style="color:white">if you have an account , login below</p>
                        <a style="margin-bottom: 30px;" href="http://localhost:8080/api">LOGIN</a> 
                    </form>
                    <% } %>
                </div>
            </div>
       

        


      <style>
        input {
            width: 280px;
            height: 20px;
            background-color: rgb(234, 213, 213);
            border: none;
            padding: 15px;
            color: black;
            font-size: 16px;
            border-radius: 15px;
        }
        button {
            width: 100px;
            height: 50px;
            background-color: rgb(29, 151, 199);
            color: aliceblue;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            margin-bottom: 10px;
        }
        span {
            font-size: 16px;
            color: rgb(12, 109, 213);
        }
      </style>
</body>
</html>