<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;flex-direction: column;justify-content: start;align-items: center;">
        <h2> welcome  <span style="color: blue;">    <%= user.name  %>  </span></h2>
        <a href="http://localhost:8080">Access your posts here</a>
    </div>
      
</body>
</html>